/***** General *****/
body{
  /*font-family: 'Taviraj', serif;*/
  font-size: 0.85em;
  color: #393939;
  margin: 5% 10%;
  padding: 2%;
  border: solid 0.5px rgba(0,0,0,.2);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

.btnCSS:active + .table_responsive thead tr th:nth-last-of-type(-n+2){
  color: red;
}

.btnCSS:active + .table_responsive tbody tr td:nth-last-of-type(-n+2){
  color: blue;
}

.btnCSS:active + .table_responsive tbody tr:nth-last-of-type(-n+2){
  color: green;
}
