<!DOCTYPE html>
<html lang="en">
	<!-- Head -->
	<head>
		<!-- Meta Data
        ============================================================== -->
    <title>CoderScoop Responsive Table/ HTML template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keyWords" content="laravel table_responsive">
		<meta charset="utf-8">

		<!-- Fonts, CSS & JS
        ============================================================== -->
		<link rel="icon" href="../assets/img/icon.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Taviraj" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500" >
		<!-- <link rel="stylesheet" href="normalize.css" type="text/css"> -->
    <link rel="stylesheet" href="../assets/css/app.css" type="text/css">
    <script src="../assets/js/myscript.js"></script>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<!-- <link rel="stylesheet" href="../assets/css/skin.css"> -->
	</head>

	<!-- Body -->
	<body>

		<button type="button" onclick=css()>Change Col-1</button>
		<button type="button" onclick="" class="btnCSS" >Change Col-2</button>
		<!-- html table
				============================================================== -->
    <table class="table_responsive">
			<thead>
      <tr>
        <th>Table heading1</th>
        <th>Table heading2</th>
        <th>Table heading3</th>
        <th>Table heading4</th>
        <th>Table heading5</th>
        <th>Table heading6</th>
        <th>Table heading7</th>
      </tr>
    </thead>
			<tbody>
      <tr>
        <th class="row">1</th>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <th class="row">2</th>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <th class="row">3</th>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
    </tbody>
  </table>


		<!-- Footer
				============================================================== -->
		<footer>
		</footer>
	</body>
</html>
